<h1>Library of Books</h1>

This API includes the following:
<ul>
  <li>books</li>
  <li>authors</li>
  <li>genres</li>
  <li>publishers</li>
  <li>details</li>
</ul>

<h2>Books</h2>
<ul>
  <li>Get all books - /books</li>
  <li>Get one book - /books/:id</li>
  <li>Edit one book - /books/edit/:id</li>
  <li>Add a book - /books/add</li>
  <li>Delete a book - /books/:id</li>
</ul>

<h2>Books</h2>
<ul>
  <li>Get all books - /books</li>
  <li>Get one book - /books/:id</li>
  <li>Edit one book - /books/edit/:id</li>
  <li>Add a book - /books/add</li>
  <li>Delete a book - /books/:id</li>
</ul>

<h2>Authors</h2>
<ul>
  <li>Get all authors - /authors</li>
  <li>Get one author - /authors/:id</li>
  <li>Edit one author - /authors/edit/:id</li>
  <li>Add a author - /authors/add</li>
  <li>Delete a author - /authors/:id</li>
</ul>

<h2>Genres</h2>
<ul>
  <li>Get all genres - /genres</li>
  <li>Get one genre - /genres/:id</li>
  <li>Edit one genre - /genres/edit/:id</li>
  <li>Add a genre - /genres/add</li>
  <li>Delete a genre - /genres/:id</li>
</ul>

<h2>Publishers</h2>
<ul>
  <li>Get all publishers - /publishers</li>
  <li>Get one publisher - /publishers/:id</li>
  <li>Edit one publisher - /publishers/edit/:id</li>
  <li>Add a publisher - /publishers/add</li>
  <li>Delete a publisher - /publishers/:id</li>
</ul>

<h2>Details</h2>
<ul>
  <li>Get all book details - /details</li>
</ul>