<h1>Library of Books</h1>

This API includes the following:
<ul>
  <li>books</li>
  <li>authors</li>
  <li>genres</li>
  <li>publishers</li>
  <li>details</li>
</ul>

<h2>Books</h2>
<ul>
  <li>Get all books - get: /books</li>
  <li>Get one book - get: /books/:id</li>
  <li>Edit one book - patch: /books/:id</li>
  <li>Add a book - post: /books</li>
  <li>Delete a book - delete: /books/:id</li>
</ul>

<h2>Authors</h2>
<ul>
  <li>Get all authors - get: /authors</li>
  <li>Get one author - get: /authors/:id</li>
  <li>Edit one author - patch: /authors/:id</li>
  <li>Add a author - post: /authors</li>
  <li>Delete a author - delete: /authors/:id</li>
</ul>

<h2>Genres</h2>
<ul>
  <li>Get all genres - get: /genres</li>
  <li>Get one genre - get: /genres/:id</li>
  <li>Edit one genre - patch: /genres/:id</li>
  <li>Add a genre - post: /genres</li>
  <li>Delete a genre - delete: /genres/:id</li>
</ul>

<h2>Publishers</h2>
<ul>
  <li>Get all publishers - get: /publishers</li>
  <li>Get one publisher - get: /publishers/:id</li>
  <li>Edit one publisher - patch: /publishers/:id</li>
  <li>Add a publisher - post: /publishers</li>
  <li>Delete a publisher - delete: /publishers/:id</li>
</ul>

<h2>Details</h2>
<ul>
  <li>Get all book details - get: /details</li>
</ul>
